@media screen and (max-width: 1023px) {
    nav {
        align-items: baseline;
    }

    nav ul {
        display: none;
        flex-direction: column;
        line-height: 2.5em;
        text-align: right;
        padding: 0px 17px;
        background: white;
        padding-bottom: 8px;
        padding-right: 20px;
        position: absolute;
        right: 0;
        left: 0;
        top: 43px;
    }

    nav .button {
        position: relative;
        left: 8px;
    }

    .hamburgerMenu ~ label {
        display: block;
        font-size: var(--size-25);
        position: relative;
        top: -26px;
    }

    .hamburgerMenu:checked ~ ul {
        display: block;
    }
    
    .empoweringContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 300px;
        height: 660px;
        gap: 0%;
        max-width: 500px;
        text-align: center;
    }

    .empoweringRight {
        left: -39px;
    }

    .playVideoRow {
        justify-content: center;
    }

    .keyBenefits {
        margin-top: 137px;
    }

    .keyBenefitsCards {
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    .diffPerspective {
        padding: 0px 30px;
        min-height: 30rem;
    }

    .diffPerspectiveGrid {
        grid-template-columns: 1fr;
        max-width: 630px;
        margin: auto;
        justify-content: center;
        text-align: center;
    }

    .diffPerspectiveLeft {
        width: 100%;
        margin: auto;
    }

    .bannerOne {
        /* left: 0; */
        /* right: 0; */
        /* position: absolute; */
        left: 0;
        width: 130%;
        top: 10%;
        justify-self: center;
    }

    .testimonial1 {
        flex-direction: column;
        text-align: center;
        margin: auto;
        max-width: 614px;
        margin-top: 75px;
    }

    .testimonial1ImgContainer {
        position: relative;
    }

    .testimonial1ImgContainer img {
        width: 60%;
    }

    #testimonialDots {
        left: 12%;
        width: 30%;
        top: 30%;
    }

    .pricingMainContainer {
        flex-direction: column;
    }

    .pricingRateCard {
        width: 80%;
        text-align: center;
    }

    .pricingRateCard p {
        text-align: left;
    }

    .pricingGrid {
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }

    .hireUs {
        flex-direction: column;
        align-items: unset;
        padding: 35px;
        gap: 30px;
    }

    .hireUsLeftSide {
        display: flex;
        justify-content: space-between;
        width: 95%;
    }

    .hireUsHeadingContainer {
        width: 60%;
    }

    .hireUsPromise {
        width: 100%;
    }

    .hireUsLeftSide hr {
        width: 100%;
    }

    .bottomLinkBarGrid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    #atlassianCircle {
        left: 50%;
    }

    .keyBenefitsCards {
        grid-template-columns: 1fr;
    }

    .whyFrontFeatures {
        flex-direction: column;
        max-width: 230px;
        margin: auto;
    }

    .whyFrontFeatures div {
        flex-direction: row;
        gap: 30px;
    }

    .whyFrontLine {
        display: none;
    }

    .pricingGrid {
        grid-template-columns: 1fr;
    }

    .trusted div {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .trusted img {
        width: 157px;
    }

    .hireUs {
        padding: 15px;
    }

    .hireUsLeftSide {
        display: block;
        text-align: center;
        width: 100%;
    }

    .hireUsHeadingContainer {
        width: 100%;
    }

    .hireUsPortraitRow {
        justify-content: center;
    }

    .hireUsFormGrid {
        grid-template-columns: 1fr;
    }

    .hireUsFormContainer textarea {
        grid-column: unset;
    }

    #privacyPolicy2 {
        display: none;
    }

    .bottomLinkBarGrid {
        grid-template-columns: 1fr;
    }

    .bottomLinkBar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #frontLogoBottom {
        margin: auto;
        margin-bottom: 10px;
    }

    .bottomLinkBar h4 {
        margin: 0;
    }

    .footerLinkBar {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    #country {
        display: block;
        margin: auto;
        margin-top: 40px;
    }
}