nav, nav ul {
    display: flex;
    align-items: center;
    gap: var(--size-30);
}

.empoweringContainer {
    max-width: 357px;
}

.playVideoRow {
    margin: 20px 0px;
}

.keyBenefits {
    text-align: center;
    margin-top: 250px;
}

.keyBenefitsCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 13rem);
    text-align: left;
    gap: 34px;
    justify-content: center;
    margin: auto;
    margin-top: 74px;
}

.keyBenefitsCards > div {
    background: cyan;
    /* temp color for dev purposes */
    padding: 20px;
}