/* #region Nav, Header */
.frontLogo {
    display: block;
    width: 160px;
    margin-bottom: 10px;
}

.navContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    /* background: white; */
    /* box-shadow: 0px 0px 10px lightgrey; */
    padding: 10px;
    z-index: 100;
    padding-bottom: 0;
    transition: 0.25s;
}

.navContainerSolid {
    background: white;
    box-shadow: 0px 0px 10px lightgrey;
}

nav {
    max-width: 1024px;
    margin: auto;
}

nav a {
    color: var(--font-color-base);
}

nav ul a:hover {
    color: var(--font-color-link);
}

nav, nav ul {
    display: flex;
    align-items: center;
    gap: var(--size-30);
}

.hamburgerMenu {
    display: none;
}

.hamburgerMenu ~ label {
    display: none;
}

header {
    margin-top: 160px;
}

.empoweringContainer {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    margin: auto;
    margin-top: 90px;
    gap: 10%;
    min-height: 414px;
}

.empoweringContainer h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--font-color-dark);
}

.empoweringContainer span {
    display: block;
    margin-bottom: 30px;
}

.empoweringRight {
    position: relative;
}

.playVideoRow {
    display: flex;
    align-items: center;
    gap: 20px;
}

.headerBg {
    position: absolute;
    top: 0;
    left: 0;
    /* right: 0; */
    width: 100vw;
    height: 500px;
    overflow: hidden;
}

.headerBg div {
    width: 150vw;
    height: 500px;
    position: relative;
    left: 0%;
    /* left: 0%; */
    top: -76px;
    background: linear-gradient(90deg, rgba(7,0,120,0) 0%, rgb(219, 219, 219) 100%);
    z-index: -1;
    overflow: hidden;
    transform: rotateZ(355deg);
}

.headerBg div div {
    width: 100vw;
    height: 195vw;
    position: relative;
    left: 30%;
    top: -8px;
    background: rgb(208, 218, 227);
    transform: rotateZ(27deg);
}

.headerCompanies {
    /* position: relative;
    top: 112px;
    left: 610px; */
}

.shadowCircle {
    border-radius: 50%;
    box-shadow: 0px 5px 20px grey;
    padding: 11px;
    background: white;
    width: 45px;
    height: 45px;
    position: absolute;
}

.shadowCircle img {
    width: 40px;
}

.biggerCircle {
    padding: 18px;
}

.biggerCircle img {
    width: 45px;
}

#asanaCircle {
    top: 0%;
    left: 85%;
}

#atlassianCircle {
    top: 0%;
    left: 45%;
}

#calendarCircle {
    top: 318px;
    left: 80%;
}

#googleACircle {
    top: 292px;
    left: 40%;
}

#googleCircle {
    top: 0%;
    left: 20%;
}

#paypalCircle {
    top: 189px;
    left: 15%;
}

#weaveCircle {
    top: 200px;
    left: 60%;
}
/* #endregion */
/* #region Key Benefits */
.keyBenefits {
    text-align: center;
    margin-top: 56px;
}

.keyBenefits h3 {
    margin-bottom: 10px;
}

.keyBenefitsCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 13.7rem);
    text-align: left;
    gap: 34px;
    justify-content: center;
    margin: auto;
    margin-top: 74px;
}

.keyBenefitsCards > div {
    padding: 20px;
}

.cardShadow img {
    width: 50px;
}

.cardShadow p {
    font-size: var(--size-14);
    line-height: var(--size-25);
}
/* #endregion */
/* #region Different Perspectives */
.diffPerspective {
    background-color: var(--diff-perspective-bg);
    height: 25rem;
    margin-top: 70px;
    overflow: hidden;
    position: relative;
}

.diffPerspectiveGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 476px);
    justify-content: end;
    align-items: center;
    height: 100%;
}

.diffPerspective h3 {
    font-size: var(--size-25);
}

.diffPerspectiveLeft {
    width: 420px;
}

.bannerOne { 
    position: relative;
    top: 68px;
    width: 100%;
    position: relative;
    width: 556px;
    left: -32px;
    top: 30%;
}
/* #endregion */
/* #region Why Front */
.whyFront {
    text-align: center;
}

.whyFront h3 {
    margin-top: 90px;
    margin-bottom: 10px;
}

.whyFront p {
    max-width: 520px;
    margin: auto;
    margin-bottom: 50px;
}

.whyFrontDots, .whyFrontLabels {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    align-items: center;
    gap: 3px;
}

#whyFrontLabels {
    gap: 92px;
    width: 76%;
    margin-top: 30px;
    color: var(--font-color-dark);
    font-weight: 700;
}

.whyFrontCircle {
    width: var(--size-50);
    height: var(--size-50);
    background: var(--why-front-light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whyFrontCircle div {
    width: 0.35rem;
    height: 0.35rem;
    background: var(--why-front-dark);
    border-radius: 50%;
}

.horzLine {
    height: 0.1rem;
    background: var(--why-front-light);
}
/* #endregion */
/* #region Video Banner */
.bannerTwo {
    margin-top: 95px;
}

.bannerTwo img {
    width: 100%;
}

.bannerTwo button {
    cursor: pointer;
    border: none;
    background: white;
    padding: 0;
    position: relative;
}

.bannerTwoCircle {
    background: gray;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-75);
    height: var(--size-75);
    font-size: var(--size-20);
}

#bannerTwoCircle i {
    position: relative;
    left: 2px;
}
/* #endregion */
/* #region HubSpot Testimonial */
.testimonial1 {
    display: flex;
    gap: 50px;
    width: 90%;
    margin-left: auto;
    margin-top: 75px;
    font-size: var(--size-20);
    align-items: center;
    color: var(--font-color-dark);
    position: relative;
}

.testimonial1 img {
    width: 390px;
}

#hubSpot {
    width: 100px;
}

#testimonialDots {
    position: absolute;
    z-index: -1;
    left: -57px;
    width: 203px;
    top: 119px;
}
/* #endregion */
/* #region Trusted By Companies */
.trusted {
    margin-top: 110px;
}

.trusted h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: var(--size-20);
    color: var(--font-color-base);
    margin-bottom: 40px;
}

.trusted div {
    display: flex;
    gap: 80px;
}

.trusted img {
    display: block;
    width: 1px;
}
/* #endregion */
/* #region Pricing */
.pricing {
    text-align: center;
    margin-top: 100px;
}

.pricing h3 {
    margin-bottom: 10px;
}

.pricingMainContainer {
    display: flex;
    align-items: center;
    margin-top: 70px;
    gap: 50px;
}

.pricingRateCard {
    text-align: left;
    flex: 2;
    padding: 66px 46px;
}

.pricingRateCard strong {
    font-size: var(--size-50);
    font-weight: 100;
    color: var(--font-color-dark);
}

.pricingRateCard hr {
    margin: 30px 0px;
}

.pricingRateCard p {
    margin-bottom: 60px;
}

.noCreditCard {
    display: block;
    margin-top: 20px;
    font-size: var(--size-12);
}

.pricingGrid {
    flex: 5;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    text-align: left;
    gap: 35px;
}

.pricingGrid img {
    width: 50px;
}
/* #endregion */
/* #region Hire Us */
.hireUs {
    background: var(--hire-us-bg);
    display: flex;
    margin-top: 130px;
    padding: 35px;
    padding-left: 70px;
    align-items: center;
    gap: 130px;
}

.hireUsLeftSide, .hireUsLeftSide h3 {
    color: white;
}

.hireUsPromise {
    color: var(--font-color-light);
}

.hireUsLeftSide {
    flex: 3;
}

.hireUsLeftSide hr {
    width: 170px;
    border: none;
    height: 1px;
    background: white;
    margin: 35px 0px;
}

#hireUsQuote {
    margin: 50px 0px;
}

.hireUsPortraitRow {
    display: flex;
    gap: 20px;
    align-items: center;
}

.hireUsPortrait {
    width: var(--size-30);
    height: var(--size-30);
    border-radius: 50%;
}

#hireUsPortraitBig {
    width: var(--size-50);
    height: var(--size-50);
}

.hireUsFormContainer {
    background: white;
    flex: 3;
    text-align: center;
    padding: 33px;
    border-radius: 10px;
    font-size: var(--size-14);
    line-height: 1.4rem;
}

.hireUsFormContainer h4 {
    text-align: left;
}

.hireUsFormGrid label {
    display: none;
}

.hireUsFormGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 194px);
    justify-content: center;
    gap: 10px;
}

.hireUsFormGrid input,
.hireUsFormGrid select, 
.hireUsFormGrid textarea {
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.hireUsFormContainer textarea {
    grid-column: 1 / 3;
}

/* .optOutContainer {
    display: flex;
    align-items: baseline;
    margin: 20px 0px;
} */

.optOutContainer label {
    display: block;
    text-align: left;
}

#optOutContainer {
    margin-top: 20px;
}

.hireUsFormContainer input[type="submit"] {
    margin-top: 10px;
    border: 0px;
}

.policyRow {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 20px;
}

.policyRow a {
    color: var(--font-color-base);
    font-weight: 700;
    text-decoration: dotted underline;
    text-underline-offset: 0.2rem;
}

.policyRow a:hover {
    color: var(--font-color-link);
}
/* #endregion */
/* #region Bottom Area and Footer */
.bottomLinkBar {
    display: flex;
    gap: 70px;
    line-height: 30px;
    margin-top: 50px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 34px;
    padding-bottom: 10px;
}

.bottomLinkBar h4 {
    margin-top: 0;
}

#frontLogoBottom {
    width: 100px;
}

.contact i {
    width: 22px;
    font-size: var(--size-14);
}

.wereHiring {
    font-size: var(--size-8);
    color: white;
    background: var(--font-color-link);
    border-radius: 3px;
    padding: 4px;
    margin-left: 10px;
    vertical-align: middle;
}

.resources i {
    font-size: var(--size-12);
    margin-right: 5px;
}

.bottomLinkBar a, 
.footerLinkBar a {
    color: var(--font-color-base);
}

.bottomLinkBar a:hover, 
.footerLinkBar a:hover {
    color: var(--font-color-link);
}

.footerLinkBar {
    display: flex;
    justify-content: space-between;
}

.socialButton {
    background: var(--social-button-light);
    color: var(--font-color-base);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 0px 10px;
}

.socialButton:hover {
    background: var(--font-color-base);
}

.socialButton:hover i {
    color: var(--social-button-light);
}

.socialButton i {
    width: 15px;
    height: 15px;
}

.countryDropdown {
    background: var(--social-button-light);
    padding: 10px;
    border: 0px;
    border-radius: 5px;
}

.footerLegal {
    text-align: center;
    font-size: var(--size-14);
    max-width: 678px;
    margin: 60px auto;
    margin-bottom: 0;
}
/* #endregion */