nav, nav ul {
    display: flex;
    align-items: center;
    gap: var(--size-30);
}

.empoweringContainer {
    max-width: 357px;
}

.playVideoRow {
    margin: 20px 0px;
}

.keyBenefits {
    text-align: center;
    margin-top: 250px;
}

.keyBenefitsCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 13rem);
    text-align: left;
    gap: 34px;
    justify-content: center;
    margin: auto;
    margin-top: 74px;
}

.keyBenefitsCards > div {
    background: cyan;
    /* temp color for dev purposes */
    padding: 20px;
}

.diffPerspective {
    background-color: var(--diff-perspective-bg);
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    height: 25rem;
    justify-content: end;
    align-items: center;
    margin-top: 70px;
    overflow: hidden;
}

.bannerOne {
    background-image: url("./saas-project-assets/banners/banner_one.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    top: 100px;
}

.whyFront {
    text-align: center;
}

.whyFrontDots, .whyFrontLabels {
    display: flex;
    justify-content: center;
    max-width: 765px;
    margin: auto;
    align-items: center;
}

#whyFrontLabels {
    gap: var(--size-100);
}

.circle {
    width: var(--size-50);
    height: var(--size-50);
    background: gray;
    border-radius: 50%;
}

.horzLine {
    height: 1rem;
    background: gray;
    flex: 1;
}

.bannerTwo {
    margin-top: 200px;
}

.bannerTwo img {
    width: 100%;
}

.bannerTwo button {
    cursor: pointer;
    border: none;
    background: white;
    padding: 0;
    position: relative;
}

#bannerTwoCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-75);
    height: var(--size-75);
    font-size: var(--size-20);
}

#bannerTwoCircle i {
    position: relative;
    left: 2px;
}

.testimonial1 {
    display: flex;
    gap: 50px;
    width: 90%;
    margin-left: auto;
    margin-top: 75px;
    font-size: var(--size-20);
    align-items: center;
    color: var(--font-color-dark);
}

.testimonial1 img {
    width: 390px;
}

#hubSpot {
    width: 100px;
}

.quoteCite strong {
    font-size: var(--size-16)
}

.quoteCite span {
    display: block;
    font-size: var(--size-14);
    color: var(--font-color-base);
    font-weight: 700;
}